In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split

In [6]:
dataset = pd.read_csv('exercise/3/insurance[1].csv')
dataset['smoker'] = dataset['smoker'].map({'yes': 1, 'no': 0})
dataset['sex'] = dataset['sex'].map({'male': 1, 'female': 0})
dataset['region'] = dataset['region'].map({'southwest': 1, 'southeast': 10, 'northwest': 11, 'northeast':100})
dataset.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0      10   1725.55230
2   28    1  33.000         3       0      10   4449.46200
3   33    1  22.705         0       0      11  21984.47061
4   32    1  28.880         0       0      11   3866.85520

In [7]:
x = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [10]:
model = SVR(kernel='rbf')
model.fit(x_train, y_train)
print(model.score(x_train, y_train))

-0.09908951399375576